/*
    file di stile per la pagina tmnt.html
*/

body{
    margin: 0px;
    padding: 0px;
    background-image: url("http://courses.cs.washington.edu/courses/cse190m/11sp/homework/2/background.png");
    font-size: 8pt;
    font-family: Verdana,Tahoma,sans-serif;
    
}
#banner{
    background-image: url("http://courses.cs.washington.edu/courses/cse190m/11sp/homework/2/bannerbg.png");
    text-align: center;
    background-repeat: repeat-x;
    height: 50px;
   
 }
 #header{
     font-size: 24pt;
     font-family: Tahoma,Verdana,sans-serif;
     text-shadow:3px 3px #999999;
     text-align: center;
 }
 
 #global{
     width:800px;
     border-style: solid;
     border-color: grey;
     border-width: 4px;
     border-radius:25px;
     overflow:hidden;
     margin-left: auto;
     margin-right: auto;
 }
 
 #rotten{
     width:550px;
 }
 
 #rottenheader{
     background-image: url("http://www.cs.washington.edu/education/courses/cse190m/11sp/homework/2/rbg.png");
     background-repeat: repeat-x;
     height:83px;
     font-size:48pt;
     color: red;
    
 }
 #rottenheader img{
     height: 83px;
     vertical-align:text-bottom;
 }
 .column{
     float:left;
     width:47%;
     margin-left:2%;
 }
 .firstp{
     background-color: #E8DC9B;
     font-size: 8pt;
     font-weight: bold;
     border-style:solid;
     border-color: grey;
     border-width: 2px;
     border-radius: 10px;
     padding: 8px;
     overflow: hidden;
 }
 .secondp{
     overflow: hidden;
     font-style:italic;
     
 }
 .secondp img{
     margin-right: 5px;
     margin-bottom: 20px;
 }
 .column p  img{    /*immagine della recensione*/
     margin-right: 5px;
     vertical-align: text-top;
     float:left;
 }

 #overview{
     background-color: #A2B964;
     width:250px;
     float:right;
     font-size: 8pt;
     font-family: Arials,sans-serif;
     
     
     
 }
 
 #overview dl{
   padding-left:10pt;
   padding-right:10pt;
     
 }
 #overview dl dt{
     margin-top: 10pt;
     
 }
 
 #pages{
     clear:left;
     clear:right;
     text-align: center;
     background-color: #A2B964;
     border-color: #A2B964;
     border-width: 5px;
     border-style:solid;
     margin-bottom:0;
}

#validators{
  position:fixed;
  left:94.2%;
  top:90.6%;
    
}

#validators img{
    opacity: 0.5;
}



