body{
    background-color: white;
    color: #404040;
    font-size: 11pt;
    font-family: Georgia,Garamond,sans-serif;
    min-width: 1024px;
}
h1,h2,h3,h4,h5,h6{
    color: rgb(164,164,0);
    font-family: "Lucida Sans Unicode",Helvetica,Arials,sans-serif;
    text-align: left;
    text-decoration: underline;
    font-size: 18pt;
}
h1 > span{
        background-color: rgb(240,240,240);

}
h2 > span{
    background-color: rgb(240,240,240);
}
h1#main{
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
}
div#divprofile{
    text-align: right;
}
img#imageprofile{
    width: 240px;
    height: 240px;
   
    
}
span#namespan{
    font-style: italic;
}
a:link{
    color:rgb(164,164,0);
}
.footerlink{
 color:red;
 font-size: 15pt;
    
}



