body{
     
     
}

h1{
    text-align:center;
    color:white;
    background-color:blue;
    
}
h2{
   text-align:center;
    color:black;
    
}
#menu{
    
    text-align: center;
     color:blue;
    font-size: 15pt;
}

div > span{
    margin:7pt;
}

a:link{
    color : blue;
}

a:visited{
    color : blue;
}

p{
    width:80%;
    min-height: 100pt;
    margin-left:10%;
    border:1px solid black;
    font-family:Lucida Sans Unicode, Helvetica, Arial,sans-serif;
    color:#A4A400;
    font-size:12pt;
    background-color: #F0F0F0;
    text-align: justify;
}

p > span:first-child{
    font-size:15pt;
    font-style:italic;
   
}
#footerimg{
    width:100%;
    height:160pt;
    position:absolute;
}

