@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400i,900i');

*{
  margin: 0;
  padding: 0;
}


p{
  font-weight: 400;
}

span,.btn{
  font-weight: 900;
}

.wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}


.container{
  width: 350px;
  height: 500px;
  background: #fff;
  border-radius: 5px;
  border : 1px solid black;
  box-shadow: 10px 10px 5px #dedede;
}

.profile-card{
  width: 100%;
  height: 40%;
  background: #0b3d8e;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color : white;
  text-align: center;
}

.profile-card .img-container,.profile-card .img-container2{
  width: 105px;
  height: 105px;
  position: relative;
  cursor: pointer;
  margin-left:auto;
  margin-right:auto;
  
}

.profile-card .img-container img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-top:20px;
}

.profile-card .img-container2 img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-top:0;
 
}
.role{
  margin-top:30px;  
}

.btn{
  position: absolute;
  bottom: 8%;
  left: 15%;
  padding: 8px 30px;

}

.btn:hover{
  background: #fff;
}

.data{
  width: 100%;
  height: 13%;
  background: #0e4cb2;
  color : white;
}

.data-content{
  width: 33.33%;
  float: left;
  text-align: center;
  padding-top: 15px;
}

.quote{
  padding: 20px 20px;
}

.quote p{
  padding-top: 15px;
  padding-bottom:5px;
  width:100%;
}
@media screen and (max-width: 360px){
    .wrapper{
        top:60%;
       
    }
}
/*css for personalcard in other page (not in profilepage.php)*/

.invisible{
    display:none;
}

.visible{
    display:block;
}

#close{
    width:100%;
}
#close a{
    margin-left:330px;
    color:white;
    
}
