body{
    font-size: 14pt;
    font-style: italic;
    text-align: center;
    
}
p{
    max-width: 800px;
    margin-left:auto;
    margin-right: auto;
}
    

#puzzlearea{
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    position: relative;
    
 }
#puzzlearea  div{
    height:90px;
    width:90px;
    font-size: 40pt;
    background-image: url("background.jpg");
    position : absolute;
    line-height: 90px;
}
.cannotmove{
    border : 5px solid darkgray;
    color : white;
}
.canmove{
    border : 5px solid red;
    color : red;
}
#banner{
    font-size:30pt;
    text-align:center;
    position:absolute;
    left:0;
    top:42%;
    background-color:lightblue;
    padding:10px;
    width:100%;
    border : 1px solid black;
    
}

#banner button{
    margin-left:30px;
}
#block_1_1{
    top : 0px;
    left: 0px;
}

#block_1_2{
    top : 0px;
    left: 100px;
}

#block_1_3{
    top:0px;
    left : 200px;
}

#block_1_4{
    top : 0px;
    left : 300px;
}
#block_2_1{
    top: 100px;
    left : 0px;
}
#block_2_2{
    top: 100px;
    left : 100px;    
}
#block_2_3{
    top: 100px;
    left : 200px;   
}
#block_2_4{
    top : 100px;
    left : 300px;
}
#block_3_1{
    top : 200px;
    left : 0px;
}
#block_3_2{
    top : 200px;
    left: 100px;
}
#block_3_3{
    top : 200px;
    left : 200px;
}
#block_3_4{
    top : 200px;
    left : 300px;
}
#block_4_1{
    top: 300px;
    left : 0px;
}
#block_4_2{
    top : 300px;
    left : 100px;
}
#block_4_3{
    top : 300px;
    left : 200px;
}
#block_4_4{
    top : 300px;
    left : 300px;
}