body {margin:0;font-family:Arial;}
* {
  box-sizing: border-box;
}
h1{
    margin-top:80px;
    text-align:center;
}
.baddata{
    color:red;
}
input[type=text],input[type=date],select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=button] {
  background-color: #0b3d8e;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-top:10px;
}

input[type=button]:hover {
  background-color: #0e4cb2;
}

.container {
  background-color: white;
  padding: 20px;
  border:1px solid black;
  margin-top:20pt;
  width:85%;
  margin-left:auto;
  margin-right:auto;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .col-25, .col-75 {
    width: 100%;
    margin-top:0;
  }
  input[type=button]{
      width: 100%;
        margin-top:20px;
  }
  
  .container{
      width:100%;
  }
}