body {margin:0;font-family:Arial}
h1{
    margin-top:90px;
    text-align:center;
}
.box{
    margin-left: auto;
    margin-right: auto;
    margin-bottom:60px;
    margin-top : 30px;
    min-height:100px;
    width:90%;
    border: 1px solid black;
    box-shadow: 9px 9px 4px #dedede;
    overflow: hidden;
    text-align:center;
}

.categoryimg {
  vertical-align: middle;
  margin-bottom: 0.75em;
  height:80px;
  margin-left:5px;
  margin-top:10px;
}



.title{
    margin-left:45px;
    font-size: 1.2em;
    display:inline-block;
    width:38%;    
    font-weight: bold;
}
.title:hover{
    text-decoration: underline;
}
a{
    text-decoration: none;
    color:black;
}
.expiry-block{
    font-size:1.2em;
    margin-left:0px;
    width:20%;
    margin-right:0;
 }

.user{
    font-size:1.2em;
    margin-left:60px;
    display:inline-block;
    width:16%;
}

.block{
    display:inline-block;
}
.circle{
  width: 60px;
  height: 48px;
  border: 1px solid #000;
  background: #0b3d8e;
  text-align: center;
  border-radius: 100%;
  font-size: 24px;
  line-height: 16px;
  padding-top: 14px;
  float:right;
  margin-right:10px;
  margin-top:17px;
  margin-left:10px;
  margin-bottom:10px;
  color:white;
  
}
.circle span{
  font-size: 16px;
  text-transform: uppercase;
  display: block;
  margin-top:5px;
}

#createrequest{
    height:80px;
    width:80px;
    position:fixed;
    right:20px;
    top:60px;
    
}

#scadenzauser{
    display:inline-block;
}

@media screen and (max-width: 910px) {
    .title{
        width:70%;
        margin-left:20px;
        margin-right:0;
    }
    
    .block{
        margin-top:40px;
    }
    
   
    .user{
        margin-right:10px;
    }
    
}
@media screen and (max-width: 800px){
     #createrequest{
        height:80px;
        width: 80px;
        right:25px;
        top:auto;
        bottom:25px;
    }
    
    .box{
        padding-bottom:10px;
    }
}
@media screen and (max-width: 700px) {
.box{
        width:99%;
    }
    .user{
        width:30%;
    }
}


@media screen and (max-width: 520px){
    .circle{
        float:none;
        margin-left:auto;
        margin-right:auto;
    }
    
}

@media screen and (max-width: 380px){
    
    .username{
        width:100%;
        text-align:center;
        margin:0;
        margin-top:15px;
    }
}
