body{
    font-family:Arial;
}
#mainbox{
    width:55%;
    margin-top:120px;
    margin-left:auto;
    margin-right:5%;
    
}

 #detailsbox{
     float:left;
     width:35%;
     margin-right:5%;
     box-shadow: 10px 10px 5px #dedede;
     padding:1%;
}
 

#title{
    font-size:2.5em;
    margin-left:3%;
}
#categoryimg{
    height:100px;
    width:100px;
    vertical-align:middle;
}

#description{
    margin-top:4%;
    font-size: 1.5em;
}

#contact{
    margin-top:2%;
    font-size:1.5em;
    border-top: 1px solid black;
    padding-top:20px;
 }
 #contact ul{
     list-style-type: none;
     margin-bottom:0;
 }
 
 #contact ul li span{
     font-size:0.8em;
 }
 #contact ul li{
     margin-top:10px;
 }


#wrapper{
    width:100%;
    max-width:100%;
}
 #header{
     font-size: 1.7em;
 }
 #detailsbox ul{
     margin-top:30px;
 }
 
 #detailsbox ul li{
     font-size:1.5em;
     margin-bottom:20px;
     
 }
 
 #detailsbox ul li span{
     font-size:0.9em;
 }
 
 .circle{
  width: 60px;
  height: 48px;
  border: 1px solid #000;
  background: #0b3d8e;
  text-align: center;
  border-radius: 100%;
  font-size: 24px;
  line-height: 16px;
  padding-top: 14px;
  margin-left:2%;
  color:white;
 
}
.circle span{
  font-size: 16px;
  text-transform: uppercase;
  display: block;
  margin-top:5px;
}

#bottom{
    margin-left: auto;
    margin-top:30px;
    width:100%;
    text-align:center;
}

#submit{
    float:right;
    height:40px;
    width:180px;
    font-size:1.3em;
    color:white;
    background-color: #0b3d8e;
    border:0;
    border-radius:4px;
    box-shadow: 6px 6px 3px #dedede;
    margin-right:70px;
}
.editbutton{
    width:26px;
    height:26px;
}
#availability{
    float:right;
    width: 280px;
    height:40px;
    font-size: 1.8em;
    margin-right:30px;
    margin-left:0;
}
#availability_text{
    color:black;
    
}

#availability_input{
    height:25px;
    font-size:1.2em;
    padding:4px;
}

#submit:hover{
    border:2px solid gray;
}

#alerttext{
    color: red;
    float:right;
    font-size: 1.6em;
    margin-right:9%;
    margin-top:15px;
    margin-bottom:25px;
}



.invisible{
    display:none;
}
.invisible_inline{
    display:none;
}
.visible_inline{
    display:inline-block;
}
.visible{
    display:visible;
}

.baddate{
   border : 1.5px solid red;
}

@media screen and (max-width: 800px){
    
    #submit{
        float:none;
        width:99%;
        height:60px;
        margin-left:auto;
        margin-right:auto;
        box-shadow: none;
    }
    
    #availability{
        float:none;
        width:99%;
        margin-left:auto;
        margin-right:auto;
        margin-top:10px;
    }
    
    #detailsbox{
        float:none;
        display:block;
        width:96%;
        margin-top:100px;
        text-align:center;
        padding:15px;
        
    }
    
    #mainbox{
        width:96%;
        margin-top:20px;
        padding: 15px;
    }
    
    
   
}

@media screen and (max-width: 400px){
    #categoryimg{
        display:block;
    }
}