.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 330px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  text-align: center;
}

.modal-visible{
    display: block;
}
.invisible{
    display:none;
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  font-size:1.5em;
}

.button{
    height:40px;
    width:40px;
    font-size:0.8em;
    border:0;
    box-shadow: 3px 3px 2px #ccc;
    border-radius:20px;
    background-color: #0e4cb2;
    color:white;
    font-weight: bold;
    margin-left:12px;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 800px){
    .modal-content{
        width: 94%;
    }
}