body{
    padding-bottom:20px;
    font-family:Arial;
}
#first{
    margin-top:30px;
}
h1{
    margin-top:90px;
    text-align:center;
}
.box{
    margin-left: auto;
    margin-right: auto;
    margin-bottom:60px;
    min-height:100px;
    width:75%;
    border: 1px solid black;
    box-shadow: 9px 9px 4px #dedede;
    text-align:center;
    background-color: #0e4cb2;
    padding:5px;
    margin-top: 30px;
}

.categoryimg {
  vertical-align: middle;
  margin-bottom: 0.75em;
  height:80px;
  margin-left:15px;
  margin-top:10px;
}


a{
    text-decoration: none;
    color:black;
}
.data{
    font-size:1.2em;
    margin-left:0px;
    
}

.user{
    font-size:1.2em;
    margin-left:120px;
    text-decoration: underline;
    display:inline-block;
    
}
.username{
    margin-left:65px;
    font-size: 1.2em;
    display:inline-block;
    width:20%;    
    font-weight: bold;
    color:white;
}
#user:hover{
    text-decoration: underline;
}
.middle{
    display:inline-block;
    color:white;
}
.star {
  height: 70px;
  width: 70px;
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  text-align: center;
  background: red;
  color: white;
  margin-left:50px;
  display:inline-block;
  margin-left:50px;
  vertical-align: middle;
}

.star::before {
  display: inline-block;
  height: 100%;
  background: black;
  vertical-align: middle;
  content: '';
}

.confirmbutton{
    height:60px;
    width:60px;
    vertical-align: middle;
    margin-left:auto;
    margin-left:150px;
   
}

@media screen and (max-width: 800px) {
    .box{
        width:96%;
        margin-top:50px;
        
    }
}