body{
    background-color: #dad9d4;
    font-family: "Verdana","sans-serif";
    padding:0px;
    margin-top:0px;
}
#banner{
    padding:1em;
    background-image: url("img/banner-background.png");
    color:white;
    overflow:hidden;
}
#frame{
 background-color: white;
 width: 90%;
 margin-left: auto;
 margin-right: auto;
 
}
#main{
    text-align: center;
}

form{
    margin: 1em;
    width:24em;
    margin-left: auto;
    margin-right: auto;
}

#w3c{
 background-image: url("img/banner-background.png");
 padding:0.7em;
}

table{
    margin-left:auto;
    margin-right: auto;
}

table th{
    min-width: 550px;
}
table{
    border: 1px solid darkgrey;
    border-collapse: collapse;
}

#firstcol{
    min-width: 35px;
   
}
#lastcol{
    min-width:50px;
}

table tbody tr:nth-child(even) {
    background-color: #dad9d4;
}

#loginform{
    margin-left:auto;
    margin-right:auto;
    
}

#logout{
    float:right;
    width:4em;
}