body{
    padding:0;
    margin:0;
    font-family:Arial;
}
#head{
    height: 78pt;
    background-color:#0b3d8e;/*(11,61,142)*/
    text-align: center;
    line-height: 78pt;
    color:white;
    font-size: 3em;
}


#head img{
    width:25%;
    height:100%;
    margin-left:37%;
}

body {
  background:rgb(40,40,40,0.1);
  padding-bottom:50pt;
}

.login {
  margin: 60pt auto;
  width: 300px;
  padding: 30px 25px;
  background: white;
  border: 1px solid #c4c4c4;
  margin-bottom: 0;
}

h1.login-title {
  margin: -28px -25px 25px;
  padding: 15px 25px;
  line-height: 30px;
  font-size: 25px;
  font-weight: 300;
  color: black;
  text-align:center;
  background: white;
 
}

.login-input {
  width: 285px;
  height: 50px;
  margin-bottom: 25px;
  padding-left:10px;
  font-size: 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-input-bad{
   border: 1px solid red;
}

.login-input:focus {
    border-color:#6e8095;
    outline: none;
  }
.login-button {
  width: 100%;
  height: 50px;
  padding: 0;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background: #0b3d8e;
  border: 0;
  border-radius: 5px;
  cursor: pointer; 
  outline:0;
}

.login-lost
{
  text-align:center;
  margin-bottom:0px;
}

.login-lost a
{
  color:#666;
  font-size:16px;
}

#baddata{
    text-align: center;
    color:red;
    margin:0;
}

